.container {
  padding: 0 25px;
  width: 100%;
  @media (min-width: 768px) {
    padding: 0 40px;
  }
  @media (min-width: 1024px) {
    padding: 0 toIndex(60);
  }
  @media (min-width: 1200px) {
    padding: 0 toIndex(100);
  }
}
