.header {
  padding: toIndexMob(50) 0 toIndexMob(50);
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    display: block;
    width: toIndexMob(82);
    img {
      display: block;
      width: 100%;
    }
  }
  &__menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: toIndexMob(20);
    font-weight: 700;
    font-size: toIndexMob(12);
    line-height: 133%;
    letter-spacing: 0.39em;
    text-transform: uppercase;
    color: #ffffff;
    transition: $transition;
    svg {
      width: toIndexMob(28);
    }
    &:hover {
      letter-spacing: 0;
    }
  }
}

@media (min-width: 768px) {
  .header {
    padding: toIndexMob(30) 0;
  }
}

@media (min-width: 1200) {
  .header {
    padding: toIndex(50) 0;
    &__logo {
      width: toIndex(108);
    }
    &__menu-btn {
      gap: 20px;
      font-size: toIndex(18);
      svg {
        width: toIndex(46);
      }
    }
  }
}
