.header {
  padding: toIndex(55) 0 toIndex(60);
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    display: block;
    width: toIndex(108);
    img {
      display: block;
      width: 100%;
    }
  }
  &__menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    font-size: toIndex(18);
    line-height: 133%;
    letter-spacing: 0.39em;
    text-transform: uppercase;
    color: #ffffff;
    svg {
      width: toIndex(46);
    }
  }
}
