.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #b6ff7d;
  overflow-y: auto;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: toIndexMob(50) 0;
  }
  &__logo {
    width: toIndexMob(106);
  }
  &__close-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    svg {
      width: toIndexMob(24);
      height: auto;
    }
  }
  &__nav {
    flex-grow: 1;
    margin-bottom: toIndexMob(50);
    li {
      &:not(:last-child) {
        margin-bottom: toIndexMob(6);
      }
    }
    a {
      font-weight: 600;
      font-size: toIndexMob(44);
      line-height: 113%;
      letter-spacing: -0.033em;
      color: #000000;
      display: inline-flex;
      align-items: center;
      gap: toIndexMob(10);
      &::after {
        content: '/';
        font-size: toIndexMob(52);
        line-height: 1;
        color: rgba(0, 0, 0, 0.2);
      }
      transition: $transition;
      &:hover {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px #000;
      }
    }
  }
  &__footer {
    display: grid;
    grid-template-columns: toIndexMob(140) 1fr;
    align-items: flex-end;
    padding-bottom: toIndexMob(55);
    position: relative;
  }
  &__footer-logo {
    width: toIndexMob(63);
    height: auto;
  }
  &__footer-insta {
    position: absolute;
    top: 0;
    left: 0;
    width: toIndexMob(120);
    height: toIndexMob(120);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: #000000;
    svg {
      width: toIndexMob(32);
      height: auto;
    }
  }
  &__sub-menu {
    margin-bottom: toIndexMob(50);
    li {
      &:not(:last-child) {
        margin-bottom: toIndexMob(25);
      }
    }
    a {
      font-weight: 600;
      font-size: toIndexMob(14);
      line-height: 118%;
      color: #000000;
      display: inline-block;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px dashed #000;
      }
    }
  }
  &__info {
    li {
      &:not(:last-child) {
        margin-bottom: toIndexMob(10);
      }
      font-weight: 400;
      font-size: toIndexMob(14);
      line-height: 118%;
      color: #000000;
      display: inline-block;
    }
  }
}

@media (min-width: 768px) {
  .menu {
    &__header {
      padding: toIndexMob(30) 0;
    }
  }
}

@media (min-width: 1200px) {
  .menu {
    &__header {
      padding: toIndex(50) 0 toIndex(110);
    }
    &__logo {
      width: toIndex(106);
    }
    &__close-button {
      width: toIndex(48);
    }
    &__nav {
      margin-bottom: toIndex(50);
      display: flex;
      flex-wrap: wrap;
      gap: 0 toIndex(40);
      a {
        font-size: toIndex(115);
        gap: toIndex(40);
      }
    }
    &__footer {
      grid-template-columns: 50% 50%;
      padding-bottom: toIndex(50);
    }
    &__footer-logo {
      width: toIndex(134);
    }
    &__footer-insta {
      position: relative;

      width: toIndex(230);
      height: toIndex(230);
      svg {
        width: toIndex(60);
      }
    }
    &__footer-row {
      display: grid;
      grid-template-columns: 1fr toIndex(230);
      align-items: flex-end;
    }
    &__footer-col {
      display: flex;
      flex-direction: column-reverse;
    }
    &__sub-menu {
      margin-bottom: 0;
      li {
        &:not(:last-child) {
          margin-bottom: toIndex(25);
        }
      }
      a {
        font-size: toIndex(21);
      }
    }
    &__info {
      margin-bottom: toIndex(45);
      li {
        display: block;
        &:not(:last-child) {
          margin-bottom: toIndex(10);
        }
        font-size: toIndex(21);
      }
    }
  }
}
