.about {
  padding: toIndex(260) 0 toIndex(400);
  &__title {
    font-weight: 700;
    font-size: toIndex(140);
    line-height: 123%;
    letter-spacing: -0.06em;
    color: #b6ff7d;
  }
  &__title-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: toIndex(35);
  }
  &__link {
    width: toIndex(530);
    height: toIndex(140);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: toIndex(70);
    overflow: hidden;
    span {
      font-weight: 600;
      font-size: toIndex(34);
      line-height: 133%;
      letter-spacing: 0.033em;
      text-transform: uppercase;
      color: #ffffff;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 2px solid #fff;
      }
    }
  }
  &__link-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
