.buy-custom {
  padding: toIndexMob(100) 0;
  // background-color: #fff;
  &__inner {
    position: relative;
  }
  &__title {
    font-weight: 800;
    font-size: toIndexMob(36);
    line-height: 1;
    letter-spacing: -0.033em;
    margin-bottom: toIndexMob(110);
  }
  &__title-row {
    display: block;
    &:first-child {
      padding-left: toIndexMob(25);
    }
    &:last-child {
      padding-left: toIndexMob(25);
    }
  }
  &__row {
    display: flex;
    justify-content: flex-end;
    padding-top: toIndexMob(55);
  }
  &__label {
    position: absolute;
    bottom: toIndexMob(140);
    left: 0;
    width: toIndexMob(165);
    height: toIndexMob(165);
    border-radius: 50%;
    background: #b6ff7d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: toIndexMob(21);
    line-height: 96%;
    text-align: center;
    letter-spacing: -0.033em;
    color: currentColor;
    img {
      position: absolute;
      top: 2.5%;
      left: 2.5%;
      width: 95%;
      height: 95%;
      animation: rotateAnimation 15s linear infinite;
      will-change: transform;
    }
  }
  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    font-size: toIndexMob(20);
    line-height: 1;
    text-transform: uppercase;
    color: currentColor;
    padding-bottom: toIndex(20);
    display: inline-block;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    svg {
      margin-left: toIndexMob(40);
      width: toIndexMob(20);
      transition: $transition;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      border-bottom: toIndex(5) solid currentColor;
      transition: $transition;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      border-bottom: toIndex(5) solid currentColor;
      transition: $transition;
    }
    &:hover {
      svg {
        transform: scale(1.1);
      }
      &::before {
        transition-delay: 0.1s;
        width: 100%;
      }
      &::after {
        width: 0;
      }
    }
  }
  &__text {
    font-weight: 700;
    font-size: toIndexMob(16);
    line-height: 113%;
    letter-spacing: -0.033em;
    text-indent: toIndex(66);
    color: currentColor;
    max-width: toIndexMob(135);
    margin-left: auto;
    position: relative;
    svg {
      width: toIndexMob(20);
      height: auto;
      position: absolute;
      top: toIndexMob(-50);
      left: 0;
    }
  }
  &__logo {
    width: toIndex(184);
    display: none;
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1200px) {
  .buy-custom {
    padding: toIndex(240) 0;
    &__title {
      font-size: toIndex(133);
      margin-bottom: 0;
    }
    &__title-row {
      &:first-child {
        padding-left: toIndex(80);
      }
      &:last-child {
        padding-left: toIndex(500);
      }
    }
    &__text {
      position: absolute;
      top: toIndex(-60);
      right: 0;
      font-size: toIndex(28);
      max-width: toIndex(435);

      svg {
        top: 0;
        right: calc(100% + 60px);
        left: auto;
      }
    }
    &__footer {
      display: block;
    }
    &__row {
      position: relative;
      justify-content: space-between;
      padding-top: toIndex(230);
      padding-left: toIndex(500);
    }
    &__label {
      width: toIndex(370);
      height: toIndex(370);
      font-size: toIndex(46);
      bottom: toIndex(-30);
    }
    &__button {
      font-size: toIndex(33);
      svg {
        margin-left: toIndex(70);
        width: toIndex(20);
      }
    }
    &__logo {
      display: block;
    }
  }
}
