.dont {
  padding: toIndexMob(110) 0;
  &__inner {
    position: relative;
  }
  &__logo {
    position: absolute;
    top: toIndex(20);
    left: 0;
    width: toIndexMob(41);
  }
  &__title {
    font-weight: 800;
    font-size: toIndexMob(36);
    line-height: 99%;
    letter-spacing: -0.033em;
    color: #ffffff;
  }
  &__title-row {
    display: block;
    overflow-y: hidden;
    &:first-child {
      text-indent: toIndexMob(80);
    }
  }
}

@media (min-width: 767px) {
  .dont {
    &__title {
      font-size: toIndex(120);
    }
    &__title-row {
      &:first-child {
        text-indent: toIndex(300);
      }
    }
  }
}

@media (min-width: 1200px) {
  .dont {
    padding: toIndex(350) 0;
    &__logo {
      width: toIndex(108);
    }
    &__title {
      font-size: toIndex(133);
    }
    &__title-row {
      &:first-child {
        text-indent: toIndex(350);
      }
    }
  }
}
