@keyframes ticker-anim {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes ticker-anim2 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}

.footer {
  padding-top: toIndex(50);
  overflow: hidden;
  &__marquee {
    font-weight: 500;
    font-size: toIndexMob(33);
    line-height: 96%;
    letter-spacing: -0.033em;
    color: rgba(255, 255, 255, 0.33);
    white-space: nowrap;
    margin-bottom: toIndexMob(60);
    div {
      display: inline-flex;
      &:nth-child(1) {
        animation: ticker-anim 30s infinite linear;
        animation-fill-mode: none;
        animation-delay: -30s;
        padding-right: 0.2rem;
      }
      &:nth-child(2) {
        animation: ticker-anim2 30s infinite linear;
        animation-fill-mode: none;
        animation-delay: -15s;
      }
    }
  }
  &__link {
    margin-bottom: toIndexMob(80);
  }
  &__bottom {
    border-top: 1px solid rgba(#f9f9f9, 0.16);
    padding-top: toIndexMob(40);
    padding-bottom: toIndexMob(40);
  }
  &__menu {
    li {
      &:not(:last-child) {
        margin-bottom: toIndexMob(25);
      }
    }
    a {
      font-weight: 600;
      font-size: toIndexMob(21);
      line-height: 118%;
      color: #ffffff;
      display: inline-block;
      padding-bottom: toIndexMob(4);
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px dashed #fff;
      }
    }
  }
  &__info {
    font-weight: 400;
    font-size: toIndexMob(16);
    line-height: 118%;
    color: rgba(255, 255, 255, 0.44);
    margin-bottom: toIndexMob(46);
    li {
      &:not(:last-child) {
        margin-bottom: toIndexMob(15);
      }
    }
  }
  &__email {
    display: flex;
    align-items: center;
    gap: toIndexMob(10);
    font-weight: 500;
    font-size: toIndexMob(21);
    line-height: 118%;
    color: #ffffff;
    margin: toIndexMob(46) 0;
  }
  &__payment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: toIndexMob(15);
    width: 100%;
    li {
      border: 1px solid #f9f9f9;
      opacity: 0.16;
      transition: 0.3s;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: toIndexMob(70);
      img {
        max-width: 70%;
        max-height: 75%;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

.insta {
  position: relative;
  display: block;
  text-decoration: none;
  &__title {
    font-weight: 800;
    font-size: toIndexMob(62);
    line-height: 96%;
    letter-spacing: -0.033em;
    color: #ffffff;
    width: 100%;
    display: block;
  }
  &__text {
    font-weight: 700;
    font-size: toIndexMob(12);
    line-height: 113%;
    letter-spacing: -0.033em;
    color: #b6ff7d;
    display: inline-block;
    position: relative;
    margin-left: toIndex(20);
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid #b6ff7d;
      transition: $transition;
    }
  }
  &__circle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: toIndexMob(-20);
    width: toIndexMob(100);
    height: toIndexMob(100);
    background: #b6ff7d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    svg {
      transition: $transition;
      width: toIndexMob(10);
      height: auto;
    }
  }
  &:hover {
    .insta {
      &__circle {
        svg {
          zoom: 2;
          rotate: 360deg;
        }
      }
      &__text {
        &::after {
          width: 0;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    &__marquee {
      font-size: toIndex(46);
      margin-bottom: toIndex(150);
    }
    &__link {
      margin-bottom: toIndex(170);
    }
    &__bottom {
      padding-top: toIndex(85);
      padding-bottom: toIndex(85);
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__menu {
      li {
        &:not(:last-child) {
          margin-bottom: toIndex(30);
        }
      }
      a {
        font-size: toIndex(21);
        padding-bottom: toIndex(4);
      }
    }
    &__info {
      font-size: toIndex(21);
      margin-bottom: 0;
      li {
        &:not(:last-child) {
          margin-bottom: toIndex(10);
        }
      }
    }
    &__email {
      gap: toIndex(10);
      font-size: toIndex(21);
      margin: 0;
    }
    &__payment {
      max-width: toIndex(380);
      gap: toIndex(20);

      li {
        min-height: toIndex(86);
      }
    }
  }
  .insta {
    &__title {
      font-size: toIndex(300);
    }
    &__text {
      font-size: toIndex(60);
    }
    &__circle {
      width: toIndex(430);
      height: toIndex(430);
      right: 0;
    }
  }
}
