.program {
  padding: toIndexMob(100) 0 toIndexMob(100);
  &__header {
    position: relative;
  }
  &__title {
    font-weight: 700;
    font-size: toIndex(123);
    line-height: 96%;
    letter-spacing: -0.033em;
    color: #ffffff;
    margin-bottom: toIndexMob(70);
  }
  &__title-row {
    display: block;
    &:last-child {
      color: #b6ff7d;
    }
  }
  &__icon {
    position: absolute;
    top: toIndex(30);
    right: 0;
    display: none;
  }
  &__list {
    border-top: 3px solid #fff;
    padding-top: toIndexMob(30);
  }
  &__footer {
    padding-top: toIndexMob(60);
    display: flex;
    justify-content: center;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: toIndexMob(18);
    line-height: 99%;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: toIndexMob(10);
    max-width: toIndexMob(220);
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: $transition;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      border-bottom: 4px solid #fff;
      transition: $transition;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      border-bottom: 4px solid #fff;
      transition: $transition;
    }
    svg {
      width: toIndexMob(12);
      height: auto;
      transition: $transition;
      path {
        transition: $transition;
      }
    }
    &:hover {
      color: #b6ff7d;
      border-color: #b6ff7d;
      svg {
        transform: scale(1.1);
        path {
          fill: #b6ff7d;
        }
      }
      &::after {
        width: 0;
        border-color: #b6ff7d;
      }
      &::before {
        transition-delay: 0.1s;
        width: 100%;
        border-color: #b6ff7d;
      }
    }
  }
}

.program-card {
  border-bottom: 2px solid #fff;
  padding-bottom: toIndexMob(16);
  margin-bottom: toIndexMob(35);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  &__title {
    font-weight: 500;
    font-size: toIndexMob(36);
    line-height: 96%;
    letter-spacing: -0.033em;
    text-transform: uppercase;
    color: #ffffff;
    max-width: toIndexMob(290);
    margin-bottom: toIndexMob(45);
  }
  &__speaker {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: toIndexMob(35);
    p {
      font-weight: 400;
      font-size: toIndexMob(12);
      line-height: 133%;
      letter-spacing: -0.033em;
      color: #ffffff;
      b {
        font-size: toIndexMob(16);
        font-weight: 600;
        display: block;
      }
    }
  }
  &__tag {
    font-weight: 700;
    font-size: toIndexMob(16);
    line-height: 133%;
    letter-spacing: -0.033em;
    text-transform: uppercase;
    color: #b6ff7d;
  }
  &__date {
    font-weight: 600;
    font-size: toIndexMob(16);
    line-height: 133%;
    letter-spacing: -0.033em;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.33;
    text-align: right;
  }
}

@media (max-width: 1199px) {
  .program-card {
    &__title {
      grid-column-start: 1;
      grid-column-end: -1;
    }
    &__speaker {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }
}

@media (min-width: 1200px) {
  .program {
    padding: toIndex(180) 0 toIndex(240);
    &__icon {
      display: block;
    }
    &__list {
      padding-top: toIndex(50);
    }
    &__title {
      margin-bottom: toIndex(130);
    }
    &__title-row {
      display: block;
    }

    &__footer {
      padding-top: toIndex(100);
    }
    &__button {
      font-size: toIndex(42);
      padding-bottom: toIndex(25);
      max-width: 500px;
      svg {
        width: toIndex(28);
      }
    }
  }
  .program-card {
    border-bottom: 3px solid #fff;
    padding-bottom: toIndex(120);
    margin-bottom: toIndex(50);
    grid-template-columns: toIndex(610) 1fr 1fr 1fr;
    &__title {
      font-size: toIndex(66);
      margin-bottom: 0;
      max-width: toIndex(510);
    }
    &__speaker {
      margin-bottom: 0;
      gap: 20px;
      p {
        font-size: toIndex(23);
        b {
          font-size: toIndex(23);
        }
      }
    }
    &__tag {
      font-size: toIndex(23);
      text-align: center;
    }
    &__date {
      font-size: toIndex(23);
    }
  }
}
