.promo {
  margin-bottom: toIndexMob(90);
  &__top {
    position: relative;
    margin-bottom: toIndexMob(55);
  }
  &__bg {
    display: block;
    width: 100%;
    object-fit: cover;
    &:nth-of-type(1) {
      display: none;
    }
  }
  &__top-container {
    position: absolute;
    top: toIndex(40);
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
  }
  &__top-label {
    font-weight: 700;
    font-size: toIndex(23);
    line-height: 99%;
    letter-spacing: -0.033em;
    text-transform: uppercase;
    color: #b6ff7d;
  }
  &__lottie {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__bottom-container {
    position: relative;
  }
  &__bottom-left-group {
    margin-right: auto;
    margin-bottom: toIndexMob(35);
  }
  &__title {
    font-family: Manrope;
    font-weight: 800;
    font-size: toIndexMob(48);
    line-height: 1.2;
    letter-spacing: -0.033em;
    color: #ffffff;
    vertical-align: middle;
    .word {
      display: inline-block;
    }
    .line {
      overflow-y: hidden;
      margin-top: -0.2em;
      margin-bottom: -0.2em;
      &:nth-child(2) {
        margin-left: toIndex(130);
      }
    }
  }

  &__text {
    position: absolute;
    bottom: toIndexMob(160);
    left: 25px;
    font-weight: 700;
    font-size: toIndexMob(13);
    line-height: 99%;
    letter-spacing: -0.033em;
    color: #b6ff7d;
    span {
      display: inline-block;
      width: toIndex(30);
    }
  }
  &__button {
    width: toIndexMob(200);
    height: toIndexMob(200);
    background: #b6ff7d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: toIndexMod(16);
    letter-spacing: -0.033em;
    color: #000;
    margin-left: auto;
    flex-shrink: 0;
    position: relative;
    span {
      position: relative;
      z-index: 1;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transform: scale(0);
      transition: $transition;
      background-color: #fff;
    }
    &:hover {
      &::after {
        transform: scale(1);
      }
    }
  }
  &__scroll-label {
    position: absolute;
    bottom: toIndexMob(40);
    left: 0;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.033em;
    color: rgba(255, 255, 255, 0.33);
    transform: rotate(-90deg);
    transform-origin: top;
  }
}

@media (min-width: 768px) {
  .promo {
    margin-bottom: toIndex(190);
    &__top {
      margin-bottom: toIndex(120);
    }
    &__bottom-container {
      position: relative;
    }
    &__bottom-left-group {
      position: relative;
    }
    &__title {
      font-size: toIndex(110);
    }
    &__text {
      left: auto;
      right: 0;
      bottom: toIndex(5);
      font-size: toIndex(28);
    }
    &__button {
      width: toIndex(360);
      height: toIndex(360);
      font-size: toIndex(28);
      margin-right: toIndex(30);
    }
    &__scroll-label {
      left: auto;
      right: 25px;
      bottom: 0;
    }
    &__bottom-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__bottom-left-group {
      margin-bottom: 0;
      position: relative;
    }
  }
}

@media (min-width: 1024px) {
  .promo {
    &__scroll-label {
      right: 40px;
    }
  }
}

@media (min-width: 1200px) {
  .promo {
    &__bg {
      &:nth-of-type(1) {
        display: block;
      }
      &:nth-of-type(2) {
        display: none;
      }
    }
    &__button {
      margin-right: toIndex(180);
    }
    &__scroll-label {
      right: toIndex(100);
    }
  }
}
