.promo {
  &__top {
    position: relative;
    margin-bottom: toIndex(120);
    img {
      display: block;
      width: 100%;
    }
  }
  &__top-container {
    position: absolute;
    top: toIndex(40);
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
  }
  &__top-label {
    font-weight: 700;
    font-size: toIndex(23);
    line-height: 99%;
    letter-spacing: -0.033em;
    text-transform: uppercase;
    color: #b6ff7d;
  }
  &__bottom {
    padding-bottom: toIndex(90);
  }
  &__bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  &__bottom-left-group {
    position: relative;
    margin-right: auto;
  }
  &__title {
    font-family: Manrope;
    font-weight: 600;
    font-size: toIndex(110);
    line-height: 1;
    letter-spacing: -0.033em;
    color: #ffffff;
  }
  &__title-row {
    display: block;
    &:not(:last-child) {
      margin-bottom: toIndex(-10);
    }
    &:nth-child(2) {
      margin-left: toIndex(130);
    }
  }
  &__text {
    position: absolute;
    bottom: toIndex(5);
    right: 0;
    font-weight: 700;
    font-size: toIndex(28);
    line-height: 99%;
    letter-spacing: -0.033em;
    color: #b6ff7d;
    span {
      display: inline-block;
      width: toIndex(30);
    }
  }
  &__button {
    width: toIndex(360);
    height: toIndex(360);
    background: #b6ff7d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: toIndex(28);
    letter-spacing: -0.033em;
    color: #000;
    margin-right: toIndex(180);
  }
  &__scroll-label {
    position: absolute;
    bottom: 0;
    right: toIndex(100);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.033em;
    color: rgba(255, 255, 255, 0.33);
    transform: rotate(-90deg);
    transform-origin: top;
  }
}
