<section class="about">
    <div class="container">
        <h2 class="about__title">
            <span class="about__title-row">
                <span>Дивитися</span>
                <a href="" class="about__link">
                    <video class="about__link-bg" autoplay loop muted playsinline>
                        <source src="../files/video-button-bg.mp4" type="video/mp4">
                    </video>
                    <span>Натисни ©23</span>
                </a>
            </span>
            <span class="about__title-row">
                про що THE&nbsp;/&nbsp;DVIZH
            </span>
        </h2>
    </div>
</section>