<section class="about">
    <div class="container">
        <h2 class="about__title">
            <span class="about__title-row">
                <span>Дивитися</span>
                <a href="" class="about__link">
                    <img class="about__link-bg" src="@img/btn.gif" alt="">
                    <span>Натисни ©23</span>
                </a>
            </span>
            <span class="about__title-row">
                про що THE / DVIZH
            </span>
        </h2>
    </div>
</section>