<section class="buy-custom">
    <div class="container">
        <div class="buy-custom__inner">
            <h2 class="buy-custom__title">
                <span class="buy-custom__title-row">Кожен учасник</span>
                <span class="buy-custom__title-row">онлайну проявляє свій інтерес символічним</span>
                <span class="buy-custom__title-row">платежем в</span>
            </h2>
            <p class="buy-custom__text">
                <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M1.99995 0.00141309C0.895379 0.0014136 -5.12452e-05 0.896844 -5.17509e-05 2.00141L-5.01493e-05 20.0014C-5.08237e-05 21.106 0.89538 22.0014 1.99995 22.0014C3.10452 22.0014 3.99995 21.106 3.99995 20.0014L3.99995 4.00141L19.9999 4.00141C21.1045 4.00141 21.9999 3.10598 21.9999 2.00141C21.9999 0.896845 21.1045 0.00141402 19.9999 0.00141469L1.99995 0.00141309ZM26.7487 23.9217L3.41416 0.587201L0.585736 3.41563L23.9203 26.7502L26.7487 23.9217Z"
                        fill="black" />
                </svg>
                Це дозволяє зберігати якість ком‘юніті і працювати над контентом, що буде цікавим кожному учаснику
            </p>
            <div class="buy-custom__row">
                <div class="buy-custom__label">
                    <img src="@img/circle-text.svg" alt="">
                    <span>1000 грн <br> / місяць</span>
                </div>
                <button class="buy-custom__button">
                    Купити підписку
                    <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 10.5L0.75 20.4593L0.75 0.540708L18 10.5Z" fill="black" />
                    </svg>
                </button>
                <img class="buy-custom__logo" src="@img/logo-width-dog.svg" alt="">
            </div>
        </div>
    </div>
</section>