<section class="connect" data-section-connect>
  <div class="container">
    <div class="connect__row">
      <div class="connect__col">
        <div data-pin>
          <h2 class="connect__title" data-title>
            <span class="connect__title-row">Навіщо тобі</span>
            <span class="connect__title-row">залітати</span>
            <span class="connect__title-row">в THE DVIZH?</span>
          </h2>
          <div class="connect__block">
            <p class="connect__text">
              ЗАЛІТАЙ <br />В THE DVIZH <span></span>/
            </p>
            <a href="" class="connect__button"> Приєднатися </a>
          </div>
        </div>
      </div>
      <div class="connect__col">
        <ul class="connect__list" data-pin-endtrigger>
          <li class="connect__list-item connect-card">
            <h3 class="connect-card__title">Актуальна інформаціяв ніші</h3>
            <span class="connect-card__number">/ 01</span>
          </li>
          <li class="connect__list-item connect-card">
            <h3 class="connect-card__title">
              Пошук клієнтів і&nbsp;підрядників
            </h3>
            <span class="connect-card__number">/ 02</span>
          </li>
          <li class="connect__list-item connect-card">
            <h3 class="connect-card__title">Побудова партнерства</h3>
            <span class="connect-card__number">/ 03</span>
          </li>
          <li class="connect__list-item connect-card">
            <h3 class="connect-card__title">Постійна підтримка від куратора</h3>
            <span class="connect-card__number">/ 04</span>
          </li>
          <li class="connect__list-item connect-card">
            <h3 class="connect-card__title">
              Швидкий розвиток&nbsp;завдяки знайомствам 
            </h3>
            <span class="connect-card__number">/ 05</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
