<section class="feedbacks" data-section-feedbacks>
  <div class="container">
    <div class="feedbacks__wrap">
      <h2 class="feedbacks__title">Відгуки учасників Ком‘юніті</h2>
      <ul class="feedbacks__list">
        <a href="@img/testimonial_bogdan.jpg" data-fancybox class="feedback" data-card>
          <div class="feedback__wrap">
            <div class="feedback__inner">
              <div class="feedback__overlay"></div>
              <svg class="feedback__icon" viewBox="0 0 51 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.24304 17.0123V29.5867H18.8717V46.4689H31.9118V29.5867H50.5405V17.0123H31.9118V0.130072H18.8717V17.0123H0.24304Z"
                  fill="black" />
              </svg>
              <img src="@img/feed-back-photo-1.webp" alt="Богдан" class="feedback__photo" />
            </div>
          </div>
          <p class="feedback__name" data-name>Антон</p>
        </a>
        <a href="@img/testimonial_oleg.jpg" data-fancybox class="feedback" data-card>
          <div class="feedback__wrap">
            <div class="feedback__inner">
              <div class="feedback__overlay"></div>
              <svg class="feedback__icon" viewBox="0 0 51 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.24304 17.0123V29.5867H18.8717V46.4689H31.9118V29.5867H50.5405V17.0123H31.9118V0.130072H18.8717V17.0123H0.24304Z"
                  fill="black" />
              </svg>
              <img src="@img/feed-back-photo-2.webp" alt="Богдан" class="feedback__photo" />
            </div>
          </div>
          <p class="feedback__name" data-name>Олег</p>
        </a>
        <a href="@img/testimonial_bogdan.jpg" data-fancybox class="feedback" data-card>
          <div class="feedback__wrap">
            <div class="feedback__inner">
              <div class="feedback__overlay"></div>
              <svg class="feedback__icon" viewBox="0 0 51 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.24304 17.0123V29.5867H18.8717V46.4689H31.9118V29.5867H50.5405V17.0123H31.9118V0.130072H18.8717V17.0123H0.24304Z"
                  fill="black" />
              </svg>
              <img src="@img/feed-back-photo-3.webp" alt="Богдан" class="feedback__photo" />
            </div>
          </div>
          <p class="feedback__name" data-name>Богдан</p>
        </a>
        <a href="@img/testimonial_alona.jpg" data-fancybox class="feedback" data-card>
          <div class="feedback__wrap">
            <div class="feedback__inner">
              <div class="feedback__overlay"></div>
              <svg class="feedback__icon" viewBox="0 0 51 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.24304 17.0123V29.5867H18.8717V46.4689H31.9118V29.5867H50.5405V17.0123H31.9118V0.130072H18.8717V17.0123H0.24304Z"
                  fill="black" />
              </svg>
              <img src="@img/feed-back-photo-4.webp" alt="Богдан" class="feedback__photo" />
            </div>
          </div>
          <p class="feedback__name" data-name>Альона</p>
        </a>
        <a href="@img/testimonial_vladislav.jpg" data-fancybox class="feedback" data-card>
          <div class="feedback__wrap">
            <div class="feedback__inner">
              <div class="feedback__overlay"></div>
              <svg class="feedback__icon" viewBox="0 0 51 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.24304 17.0123V29.5867H18.8717V46.4689H31.9118V29.5867H50.5405V17.0123H31.9118V0.130072H18.8717V17.0123H0.24304Z"
                  fill="black" />
              </svg>
              <img src="@img/feed-back-photo-5.webp" alt="Богдан" class="feedback__photo" />
            </div>
          </div>
          <p class="feedback__name" data-name>Владислав</p>
        </a>
        <a href="@img/testimonial_stella.jpg" data-fancybox class="feedback" data-card>
          <div class="feedback__wrap">
            <div class="feedback__inner">
              <div class="feedback__overlay"></div>
              <svg class="feedback__icon" viewBox="0 0 51 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.24304 17.0123V29.5867H18.8717V46.4689H31.9118V29.5867H50.5405V17.0123H31.9118V0.130072H18.8717V17.0123H0.24304Z"
                  fill="black" />
              </svg>
              <img src="@img/feed-back-photo-6.webp" alt="Богдан" class="feedback__photo" />
            </div>
          </div>
          <p class="feedback__name" data-name>Стелла</p>
        </a>
        <a href="@img/testimonial_olga.jpg" data-fancybox class="feedback" data-card>
          <div class="feedback__wrap">
            <div class="feedback__inner">
              <div class="feedback__overlay"></div>
              <svg class="feedback__icon" viewBox="0 0 51 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.24304 17.0123V29.5867H18.8717V46.4689H31.9118V29.5867H50.5405V17.0123H31.9118V0.130072H18.8717V17.0123H0.24304Z"
                  fill="black" />
              </svg>
              <img src="@img/feed-back-photo-7.webp" alt="Богдан" class="feedback__photo" />
            </div>
          </div>
          <p class="feedback__name" data-name>Ольга</p>
        </a>
        <a href="@img/testimonial_yriy.jpg" data-fancybox class="feedback" data-card>
          <div class="feedback__wrap">
            <div class="feedback__inner">
              <div class="feedback__overlay"></div>
              <svg class="feedback__icon" viewBox="0 0 51 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.24304 17.0123V29.5867H18.8717V46.4689H31.9118V29.5867H50.5405V17.0123H31.9118V0.130072H18.8717V17.0123H0.24304Z"
                  fill="black" />
              </svg>
              <img src="@img/feed-back-photo-8.webp" alt="Богдан" class="feedback__photo" />
            </div>
          </div>
          <p class="feedback__name" data-name>Юрій</p>
        </a>
        <a href="@img/testimonial_illy.jpg" data-fancybox class="feedback" data-card>
          <div class="feedback__wrap">
            <div class="feedback__inner">
              <div class="feedback__overlay"></div>
              <svg class="feedback__icon" viewBox="0 0 51 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.24304 17.0123V29.5867H18.8717V46.4689H31.9118V29.5867H50.5405V17.0123H31.9118V0.130072H18.8717V17.0123H0.24304Z"
                  fill="black" />
              </svg>
              <img src="@img/feed-back-photo-9.webp" alt="Богдан" class="feedback__photo" />
            </div>
          </div>
          <p class="feedback__name" data-name>Ілля</p>
        </a>
      </ul>
    </div>
  </div>
</section>