<section class="feedbacks">
  <div class="container">
    <div class="feedbacks__wrap">
      <h2 class="feedbacks__title">Відгуки учасників Ком‘юніті</h2>
      <ul class="feedbacks__list">
        <li class="feedback">
          <div class="feedback__wrap">
            <img
              src="@img/feed-back-photo-1.webp"
              alt="Антон"
              class="feedback__photo"
            />
          </div>
          <p class="feedback__name">Антон</p>
        </li>
        <li class="feedback">
          <div class="feedback__wrap">
            <img
              src="@img/feed-back-photo-2.webp"
              alt="Олег"
              class="feedback__photo"
            />
          </div>
          <p class="feedback__name">Олег</p>
        </li>
        <li class="feedback">
          <div class="feedback__wrap">
            <img
              src="@img/feed-back-photo-3.webp"
              alt="Богдан"
              class="feedback__photo"
            />
          </div>
          <p class="feedback__name">Богдан</p>
        </li>
        <li class="feedback">
          <div class="feedback__wrap">
            <img
              src="@img/feed-back-photo-4.webp"
              alt="Альона"
              class="feedback__photo"
            />
          </div>
          <p class="feedback__name">Альона</p>
        </li>
        <li class="feedback">
          <div class="feedback__wrap">
            <img
              src="@img/feed-back-photo-5.webp"
              alt="Владислав"
              class="feedback__photo"
            />
          </div>
          <p class="feedback__name">Владислав</p>
        </li>
        <li class="feedback">
          <div class="feedback__wrap">
            <img
              src="@img/feed-back-photo-6.webp"
              alt="Стелла"
              class="feedback__photo"
            />
          </div>
          <p class="feedback__name">Стелла</p>
        </li>
        <li class="feedback">
          <div class="feedback__wrap">
            <img
              src="@img/feed-back-photo-7.webp"
              alt="Ольга"
              class="feedback__photo"
            />
          </div>
          <p class="feedback__name">Ольга</p>
        </li>
        <li class="feedback">
          <div class="feedback__wrap">
            <img
              src="@img/feed-back-photo-8.webp"
              alt="Юрій"
              class="feedback__photo"
            />
          </div>
          <p class="feedback__name">Юрій</p>
        </li>
        <li class="feedback">
          <div class="feedback__wrap">
            <img
              src="@img/feed-back-photo-9.webp"
              alt="Ілля"
              class="feedback__photo"
            />
          </div>
          <p class="feedback__name">Ілля</p>
        </li>
      </ul>
    </div>
  </div>
</section>
