<footer class="footer">
    <div class="footer__marquee">
        <div>THE / DVIZH THE / DVIZH THE / DVIZH THE / DVIZH THE / DVIZH THE / DVIZH THE / DVIZH THE / DVIZH THE / DVIZH
        </div>
        <div>THE / DVIZH THE / DVIZH THE / DVIZH THE / DVIZH THE / DVIZH THE / DVIZH THE / DVIZH THE / DVIZH THE / DVIZH
        </div>
    </div>
    <div class="container">
        <a href="https://www.instagram.com/thedvizh/" target="_blank" class="footer__link insta">
            <span class="insta__title">Instagram</span>
            <span class="insta__text">Instagram.com/thedvizh</span>
            <span class="insta__circle"><svg width="35" height="35" viewBox="0 0 35 35" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M32.0191 0.135635C33.5905 0.135636 34.8644 1.4095 34.8644 2.98089L34.8644 28.5882C34.8644 30.1596 33.5905 31.4335 32.0191 31.4335C30.4477 31.4335 29.1738 30.1596 29.1739 28.5882V5.82615H6.41179C4.8404 5.82615 3.56654 4.55229 3.56654 2.98089C3.56654 1.4095 4.8404 0.135636 6.41179 0.135637L32.0191 0.135635ZM0.988099 29.9881L30.0072 0.968993L34.031 4.99279L5.0119 34.0119L0.988099 29.9881Z"
                        fill="black" />
                </svg>
            </span>
        </a>
        <div class="footer__bottom">
            <ul class="footer__menu">
                <li><a href="https://drive.google.com/file/d/1daI5u7Ep8O1iZH-O3CQNBAE7j664cB0A/view"
                        target="_blank">Політика конфіденційності</a></li>
                <li><a href="https://drive.google.com/file/d/1tSCpwJ_Ge90gbNXtD6aHVFq25mMZYkna/view"
                        target="_blank">Публічна угода оферти</a></li>
            </ul>
            <a href="mailto:yuliya.rudenko.99@gmail.com" class="footer__email">
                <img src="@img/email-icon.svg" alt="">
                yuliya.rudenko.99@gmail.com
            </a>
            <ul class="footer__info">
                <li>ЕГРПОУ 3419707011</li>
                <li>ФОП Волосов Денис Олександрович</li>
            </ul>
            <ul class="footer__payment">
                <li>
                    <img src="@img/visa.png" alt="">
                </li>
                <li>
                    <img src="@img/mastercard.png" alt="">
                </li>
            </ul>
        </div>
    </div>
</footer>