<section class="form" data-section-form>
  <div class="container">
    <h2 class="form__title" data-title>
      Потрапити до відбору <span class="form__title-line">у ком’юніті</span>
    </h2>
    <div class="form__wrap">
      <p class="form__text">
        Після знайомства з твоєю анкетою, вийдемо на зв‘язок, щоб все детально
        обговорити
      </p>
      <div class="form__form">
        <div class="form__form">
          <div class="form__form">

            <div class="wpcf7 js" id="wpcf7-f24-p7-o1" lang="en-US" dir="ltr">
              <div class="screen-reader-response">
                <p role="status" aria-live="polite" aria-atomic="true"></p>
                <ul></ul>
              </div>
              <form action="/#wpcf7-f24-p7-o1" method="post" class="wpcf7-form init" aria-label="Contact form"
                novalidate="novalidate" data-status="init">
                <div style="display: none;">
                  <input type="hidden" name="_wpcf7" value="24">
                  <input type="hidden" name="_wpcf7_version" value="5.7.4">
                  <input type="hidden" name="_wpcf7_locale" value="en_US">
                  <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f24-p7-o1">
                  <input type="hidden" name="_wpcf7_container_post" value="7">
                  <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                </div>
                <div class="form__row">
                  <div class="form__col">
                    <div class="form__group">
                      <p><span class="wpcf7-form-control-wrap" data-name="names"><input size="40"
                            class="wpcf7-form-control wpcf7-text form__input" aria-invalid="false"
                            placeholder="Ім‘я і Прізвище" value="" type="text" name="names"></span><span
                          class="wpcf7-form-control-wrap" data-name="phone"><input size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form__input"
                            aria-required="true" aria-invalid="false" placeholder="Номер телефону (Telegram)" value=""
                            type="tel" name="phone"></span><span class="wpcf7-form-control-wrap"
                          data-name="instagram"><input size="40" class="wpcf7-form-control wpcf7-text form__input"
                            aria-invalid="false" placeholder="Instagram" value="" type="text"
                            name="instagram"></span><span class="wpcf7-form-control-wrap" data-name="sphere"><input
                            size="40" class="wpcf7-form-control wpcf7-text form__input" aria-invalid="false"
                            placeholder="Сфера діяльності" value="" type="text" name="sphere"></span>
                      </p>
                    </div>
                  </div>
                  <div class="form__col">
                    <p><span class="wpcf7-form-control-wrap" data-name="experience"><textarea cols="40" rows="10"
                          class="wpcf7-form-control wpcf7-textarea form__input form__input-exp" aria-invalid="false"
                          placeholder="Розкажи про свій досвід у digital" name="experience"></textarea></span>
                    </p>
                  </div>
                </div>
                <div class="form__footer">
                  <p><input class="wpcf7-form-control has-spinner wpcf7-submit form__btn" type="submit"
                      value="Відправити дані"><span class="wpcf7-spinner"></span>
                  </p>
                </div>
                <div class="wpcf7-response-output" aria-hidden="true"></div>
              </form>
            </div>

          </div>
        </div>
      </div>
      <img src="@img/stat-logo.svg" alt="THE / D" class="form__logo" />
    </div>
  </div>
</section>