<section class="format-offline" data-section-format-offline>
  <div class="container">
    <div class="format-offline__title-wrap">
      <h3 class="format-offline__subtitle">/ Як усе буде?</h3>
      <h2 class="format-offline__title" data-title>
        ФОРМАТ THE DVIZH / OFFLINE?
      </h2>
    </div>
  </div>
  <div class="format-offline__list-wrap">
    <ul class="container format-offline__list" data-horizontal>
      <li class="format-offline-card format-offline-card--active" data-card>
        <h4 class="format-offline-card__title">Нетворкінг та розвиток</h4>
        <p class="format-offline-card__text">
          Лекції та заходи від колег, що мають результат в своїй справі
        </p>
        <div class="format-offline-card__slash">/</div>
        <p class="format-offline-card__goal">Мотивація та допомога</p>
      </li>
      <li class="format-offline-card" data-card>
        <h4 class="format-offline-card__title">Тематичні зустрічі</h4>
        <p class="format-offline-card__text">Поĸер, Мафія, CS:GO.</p>
        <div class="format-offline-card__slash">/</div>
        <p class="format-offline-card__goal">Відпочинок з однодумцями</p>
      </li>
      <li class="format-offline-card" data-card>
        <h4 class="format-offline-card__title">Тематичні зустрічі</h4>
        <p class="format-offline-card__text">Поĸер, Мафія, CS:GO.</p>
        <div class="format-offline-card__slash">/</div>
        <p class="format-offline-card__goal">Відпочинок з однодумцями</p>
      </li>
    </ul>
  </div>
</section>
