<header class="header">
    <div class="container header__container">
        <a href="/" class="header__logo">
            <img src="@img/logo.svg" alt="">
        </a>
        <button class="header__menu-btn">
            <svg width="46" height="8" viewBox="0 0 46 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="46" height="2" fill="white" />
                <rect y="6" width="46" height="2" fill="white" />
            </svg>
            <span>меню</span>
        </button>
    </div>
</header>