<section class="inside">
    <div class="container">
        <header class="inside__header">
            <img class="inside__icon" src="@img/inside-icon.svg" alt="">
            <h2 class="inside__title">
                <span class="inside__title-row">Що всередині</span>
                <span class="inside__title-row">THE DVIZH?</span>
            </h2>
        </header>
        <ul class="inside__list">
            <li class="inside__list-item inside-card">
                <div class="inside-card__left">
                    <p class="inside-card__label">/ Підтримка</p>
                    <h3 class="inside-card__title">
                        Активний чат з куратором
                    </h3>
                </div>
                <div class="inside-card__icon">
                    <img src="@img/Comp_1.gif" alt="">
                </div>
                <div class="inside-card__right">
                    <span class="inside-card__number">01</span>
                    <p class="inside-card__text">Постійна підтримка та допомога від досвідченого спеціаліста</p>
                </div>
            </li>
            <li class="inside__list-item inside-card">
                <div class="inside-card__left">
                    <p class="inside-card__label">/ Досвід спеціалістів</p>
                    <h3 class="inside-card__title">
                        Лекції від найвпливовіших спеціалістів ринку
                    </h3>
                </div>
                <div class="inside-card__icon">
                    <img src="@img/Comp_3.gif" alt="">
                </div>
                <div class="inside-card__right">
                    <span class="inside-card__number">02</span>
                    <p class="inside-card__text">Короткі влучні теми з розборами</p>
                </div>
            </li>
            <li class="inside__list-item inside-card">
                <div class="inside-card__left">
                    <p class="inside-card__label">/ Онайлн дискусії</p>
                    <h3 class="inside-card__title">
                        Регулярні ефіри з ком’юніті
                    </h3>
                </div>
                <div class="inside-card__icon">
                    <img src="@img/Comp_4.gif" alt="">
                </div>
                <div class="inside-card__right">
                    <span class="inside-card__number">03</span>
                    <p class="inside-card__text">Відверті дискусії про роботу та ситуацію на ринку</p>
                </div>
            </li>
            <li class="inside__list-item inside-card">
                <div class="inside-card__left">
                    <p class="inside-card__label">/ База знань</p>
                    <h3 class="inside-card__title">
                        База ефірів з практиками та лідерами ніші
                    </h3>
                </div>
                <div class="inside-card__icon">
                    <img src="@img/Comp_5.gif" alt="">
                </div>
                <div class="inside-card__right">
                    <span class="inside-card__number">04</span>
                    <p class="inside-card__text">База знань за всю історію існування ком’юніті</p>
                </div>
            </li>
            <li class="inside__list-item inside-card">
                <div class="inside-card__left">
                    <p class="inside-card__label">/ Клієнти</p>
                    <h3 class="inside-card__title">
                        Підприємці, які шукають підрядників
                    </h3>
                </div>
                <div class="inside-card__icon">
                    <img src="@img/Comp_6.gif" alt="">
                </div>
                <div class="inside-card__right">
                    <span class="inside-card__number">05</span>
                    <p class="inside-card__text">Публікація вакансій та пошук підрядників, спеціалістів у свої проекти
                    </p>
                </div>
            </li>
            <li class="inside__list-item inside-card">
                <div class="inside-card__left">
                    <p class="inside-card__label">/ Кейси підприємців</p>
                    <h3 class="inside-card__title">
                        Case Studies з Українськими бізнесами
                    </h3>
                </div>
                <div class="inside-card__icon">
                    <img src="@img/Comp_2.gif" alt="">
                </div>
                <div class="inside-card__right">
                    <span class="inside-card__number">06</span>
                    <p class="inside-card__text">Практична інформація від підприємців: основні проблеми та їх вирішення
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>