<section class="people" data-section-people>
  <div class="container">
    <h2 class="people__title" data-title>
      <span>Люди</span> <span>Dvizh’у</span>
    </h2>
    <div class="people__text-container">
      <img class="people__monogram" src="@img/monogram.svg" alt="" />
      <p class="people__dates">2020 <span class="people__dash"></span> 2023</p>
      <div class="people__text">
        <p>Це ком'юніті для пришвидшення розвитку, в якому спілкуються:</p>
      </div>
    </div>
    <ul class="people__list">
      <li class="people-card">
        <div class="people-card__circle"></div>
        <p class="people-card__text">Таргетологи та арбітражники</p>
      </li>
      <li class="people-card">
        <img src="@img/people-photo-1.webp" alt="" class="people-card__photo" />
      </li>
      <li class="people-card">
        <img src="@img/people-photo-2.webp" alt="" class="people-card__photo" />
      </li>
      <li class="people-card">
        <img src="@img/people-photo-3.webp" alt="" class="people-card__photo" />
      </li>
      <li class="people-card">
        <img src="@img/people-photo-4.webp" alt="" class="people-card__photo" />
      </li>
      <li class="people-card">
        <div class="people-card__triangle"></div>
        <p class="people-card__text">Фаундери агенцій та команд</p>
      </li>
      <li class="people-card">
        <div class="people-card__square"></div>
        <p class="people-card__text">Власники інсташопів та е-commerce</p>
      </li>
      <li class="people-card">
        <img src="@img/people-photo-5.webp" alt="" class="people-card__photo" />
      </li>
      <li class="people-card">
        <img src="@img/people-photo-6.webp" alt="" class="people-card__photo" />
      </li>
      <li class="people-card">
        <img src="@img/people-photo-7.webp" alt="" class="people-card__photo" />
      </li>
      <li class="people-card">
        <img src="@img/people-photo-8.webp" alt="" class="people-card__photo" />
      </li>
    </ul>
    <div class="btn-circle-arrow people__btn">
      <div class="btn-circle-arrow__wrap">
        <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M24.1882 27.1052C25.3383 27.1052 26.2706 26.1729 26.2706 25.0228L26.2706 6.28164C26.2706 5.13159 25.3383 4.19928 24.1882 4.19928C23.0382 4.19928 22.1059 5.13159 22.1059 6.28164L22.1059 22.9405L5.44704 22.9405C4.29699 22.9405 3.36469 23.8728 3.36469 25.0228C3.36469 26.1729 4.29699 27.1052 5.44704 27.1052L24.1882 27.1052ZM0.138272 3.91776L22.7158 26.4953L25.6607 23.5504L3.08316 0.972867L0.138272 3.91776Z"
            fill="black" />
        </svg>
      </div>
    </div>
  </div>
</section>