<section class="people">
  <div class="container">
    <h2 class="people__title"><span>Люди</span> <span>Dvizh’у</span></h2>
    <div class="people__text-container">
      <img class="people__monogram" src="@img/monogram.svg" alt="" />
      <p class="people__dates">2020 <span class="people__dash"></span> 2023</p>
      <div class="people__text">
        <p>Це ком'юніті для пришвидшення розвитку, в якому спілкуються:</p>
      </div>
    </div>
    <ul class="people__list">
      <li class="people-card">
        <div class="people-card__circle"></div>
        <p class="people-card__text">Таргетологи та арбітражники</p>
      </li>
      <li class="people-card">
        <img src="@img/people-photo-1.webp" alt="" class="people-card__photo" />
      </li>
      <li class="people-card">
        <img src="@img/people-photo-2.webp" alt="" class="people-card__photo" />
      </li>
      <li class="people-card">
        <img src="@img/people-photo-3.webp" alt="" class="people-card__photo" />
      </li>
      <li class="people-card">
        <img src="@img/people-photo-4.webp" alt="" class="people-card__photo" />
      </li>
      <li class="people-card">
        <div class="people-card__triangle"></div>
        <p class="people-card__text">Фаундери агенцій та команд</p>
      </li>
      <li class="people-card">
        <div class="people-card__square"></div>
        <p class="people-card__text">Власники інсташопів та е-commerce</p>
      </li>
      <li class="people-card">
        <img src="@img/people-photo-5.webp" alt="" class="people-card__photo" />
      </li>
      <li class="people-card">
        <img src="@img/people-photo-6.webp" alt="" class="people-card__photo" />
      </li>
      <li class="people-card">
        <img src="@img/people-photo-7.webp" alt="" class="people-card__photo" />
      </li>
      <li class="people-card">
        <img src="@img/people-photo-8.webp" alt="" class="people-card__photo" />
      </li>
    </ul>
    <a href="" class="people__btn people-btn">
      <div class="people-btn__wrap">
        <img class="people-btn__icon" src="@img/icon-arrow.svg" />
      </div>
    </a>
  </div>
</section>
