<section class="program">
    <div class="container">
        <header class="program__header">
            <h2 class="program__title">
                <span class="program__title-row">Програма онлайн</span>
                <span class="program__title-row">/ Березень</span>
            </h2>
            <img class="program__icon" src="@img/inside-icon.svg" alt="">
        </header>
        <ul class="program__list">
            <li class="program__list-item">
                <article class="program-card">
                    <h3 class="program-card__title">Факапи бізнесу 2022</h3>
                    <div class="program-card__speaker">
                        <img src="@img/avatar.png" alt="">
                        <p>
                            <b>Маĸсим Зенін</b> CEO Morris
                        </p>
                    </div>
                    <div class="program-card__tag">/ Як справи</div>
                    <div class="program-card__date">03.03.2023</div>
                </article>
            </li>
            <li class="program__list-item">
                <article class="program-card">
                    <h3 class="program-card__title">Не завдяки а всупереч. що було у 2022</h3>
                    <div class="program-card__speaker">
                        <img src="@img/avatar.png" alt="">
                        <p>
                            <b>Маĸсим Зенін</b> CEO Morris
                        </p>
                    </div>
                    <div class="program-card__tag">/ Як справи</div>
                    <div class="program-card__date">03.03.2023</div>
                </article>
            </li>
            <li class="program__list-item">
                <article class="program-card">
                    <h3 class="program-card__title">моушен дизайн для реклами</h3>
                    <div class="program-card__speaker">
                        <img src="@img/avatar.png" alt="">
                        <p>
                            <b>Маĸсим Зенін</b> CEO Morris
                        </p>
                    </div>
                    <div class="program-card__tag">/ Як справи</div>
                    <div class="program-card__date">03.03.2023</div>
                </article>
            </li>
        </ul>
        <footer class="program__footer">
            <button class="program__button">
                Уся программа
                <img src="@img/down-icon.svg" alt="">
            </button>
        </footer>
    </div>
</section>