<section class="promo" id="main" data-section-promo>
  <div class="promo__top">
    <div class="promo__lottie" id="lottie"></div>
    <img class="promo__bg" src="@img/promo-img.jpg" alt="" />
    <img class="promo__bg" src="@img/promo-bg-mobile.png" alt="" />
    <div class="container promo__top-container">
      <p class="promo__top-label">Зелений двіж /</p>
    </div>
  </div>
  <div class="promo__bottom">
    <div class="container promo__bottom-container">
      <div class="promo__bottom-left-group">
        <h1 class="promo__title" data-title>
          <div class="line"><div class="word">Закритий</div></div>
          <div class="line">
            <div class="word">клуб</div>
            <div class="word">Digital</div>
          </div>
          <div class="line"><div class="word">Людей</div></div>
        </h1>
        <p class="promo__text" data-text>
          ЗАЛІТАЙВ <br />
          THE DVIZH <span></span> /
        </p>
      </div>

      <a href="#cost" class="promo__button" data-btn>
        <span>Приєднатися</span>
      </a>
      <div class="promo__scroll-label">Scroll</div>
    </div>
  </div>
</section>
