<section class="quality" data-section-quality>
  <div class="container quality__container">
    <h2 class="quality__title" data-title>
      <div class="line">
        <div class="word">Відповідає</div>
        <div class="word">за</div>
      </div>
      <div class="line">
        <div class="word">якість</div>
        <div class="word">DVIZH'у</div>
      </div>
    </h2>
    <div class="quality__wrap">
      <p class="quality__subtitle">Founder Люди.Digital</p>
      <h3 class="quality__name" data-name>
        <div class="line">
          <div class="word">ВОЛОСОВ</div>
        </div>
        <div class="line">
          <div class="word">Денис</div>
        </div>
      </h3>
    </div>
    <div class="btn-circle-arrow quality__btn">
      <div class="btn-circle-arrow__wrap">
        <svg class="btn-circle-arrow__icon" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.38501 13.4579C0.819725 13.4579 0.361476 12.9996 0.361476 12.4343L0.361476 3.22257C0.361476 2.65729 0.819725 2.19904 1.38501 2.19904C1.95029 2.19904 2.40853 2.65729 2.40853 3.22257L2.40853 11.4108L10.5968 11.4108C11.162 11.4108 11.6203 11.8691 11.6203 12.4343C11.6203 12.9996 11.162 13.4579 10.5968 13.4579L1.38501 13.4579ZM13.2062 2.06066L2.10875 13.1581L0.661261 11.7106L11.7587 0.613169L13.2062 2.06066Z" />
        </svg>
        <!-- <img class="btn-circle-arrow__icon" src="@img/icon-arrow.svg" /> -->
      </div>
    </div>
  </div>
</section>