<section class="stat">
  <div class="stat__bg-wrap">
    <div class="stat__bg-overlay"></div>
    <img src="@img/stat.webp" alt="" class="stat__bg" />
  </div>
  <div class="stat__container container">
    <img src="@img/stat-logo.svg" alt="THE / D" class="stat__logo" />
    <ul class="stat__list stat-list">
      <li class="stat-card stat-card--accent">
        <h3 class="stat-card__title">/ $4+ million</h3>
        <p class="stat-card__text">Інвестованого рекламного бюджету</p>
      </li>
      <li class="stat-card">
        <h3 class="stat-card__title">/ 77</h3>
        <p class="stat-card__text">Активних проєктів під час війни</p>
      </li>
      <li class="stat-card">
        <h3 class="stat-card__title">/ 16</h3>
        <p class="stat-card__text">Людей в команді Люди.Digital</p>
      </li>
    </ul>
  </div>
</section>
