<section class="video">
    <div class="container">
        <img class="video__img" src="@img/about-img.png" alt="">
        <p class="video__text">Дізнатися все про ком’юніті <b>за 5 хвилину</b></p>
        <h2 class="video__title" data-title>
            <span class="video__title-row">Відео –</span>
            <span class="video__title-row">презентація</span>
        </h2>
        <a href="https://youtu.be/LFO3j0XH66Q" data-fancybox class="video__btn">
            <img src="@img/play-icon.svg" alt="">
        </a>
    </div>
</section>