<section class="dont" data-section-dont>
  <div class="container">
    <div class="dont__inner">
      <img class="dont__logo" src="@img/logo.svg" alt="" />
      <h2 class="dont__title" data-title>
        <div class="dont__title-row"><div class="line">Чого не буде:</div></div>
        <div class="dont__title-row">
          <div class="line">інфоциганщини,</div>
        </div>
        <div class="dont__title-row">
          <div class="line">скаму та токсиків</div>
        </div>
      </h2>
    </div>
  </div>
</section>
