* {
  box-sizing: border-box;
}

body {
  --backgroundColor: #000;
  font-family: Manrope;
  background: #000000;
  color: #fff;
  font-weight: 400;
}

.wrapper {
  overflow: hidden;
}

a {
  text-decoration: none;
}
