@font-face{
	font-family: Furore;
	font-display: swap;
	src: url("../fonts/Furore.woff2") format("woff2"), url("../fonts/Furore.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: RONRegular;
	font-display: swap;
	src: url("../fonts/RONRegular.woff2") format("woff2"), url("../fonts/RONRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
